.auth-page {
  position: relative;
  height: 100%;
  .auth-image {
    height: 100%;
    filter: blur(3px);
    img {
      height: 100%;
      width: 100%;
    }
  }

  .auth-form-container {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 100px;
    opacity: 0.8;
    width: 500px;
    height: 400px;
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .ant-input {
      height: 35px;
    }
  }
}

@media screen and (max-width: "768px") {
  .auth-page {
    .auth-form-container {
      right: 50px;
      width: 300px;
    }
  }
}

@media screen and (max-width: "425px") {
  .auth-page {
    .auth-form-container {
      right: 0;
      width: 100%;
    }
  }
}
