
<!-- <table datatable [dtOptions]="dtOptions"  class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>EMAIL</th>
        <th>NAME</th>
        <th>DOB</th>
        <th>PETS</th>
        <th>POSTCODE</th>
        <th>SCORE</th>
        <th>STREET</th>
        <th>TELEPHONE</th>
        <th>TOWN</th>
        <th>IMG1</th>
        <th>IMG2</th>
        <th>IMG3</th>
        <th>IMG4</th>
        <th>IMG5</th>
        <th>IMG6</th>
        <th>IMG7</th>
        <th>IMG8</th>
        <th>IMG9</th>
        <th>IMG10</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allData">
        <td>{{data.id}}</td>
        <td>{{data.email}}</td>
        <td>{{data.name}}</td>
        <td>{{data.dob}}</td>
        <td>{{data.pets[0]}},{{data.pets[1]}}</td>
        <td>{{data.postode}}</td>
        <td>{{data.street}}</td>
        <td>{{data.telephone}}</td>
        <td>{{data.town}}</td>
        <td>{{data.image1}}</td>
        <td>{{data.image2}}</td>
        <td>{{data.image3}}</td>
        <td>{{data.image4}}</td>
        <td>{{data.image5}}</td>
        <td>{{data.image6}}</td>
        <td>{{data.image7}}</td>
        <td>{{data.image8}}</td>
        <td>{{data.image9}}</td>
        <td>{{data.image10}}</td>
      </tr>
    </tbody>
  </table> -->

  <!-- <div *ngIf="visible">
    <p>{{label}}</p>
    <p>{{value}}</p>
    <hr />
    <a (click)="Close()">Close Me</a>
  </div> -->
  <button nz-button nzType="primary" (click)="handleNavigation()">Go back to app</button>
  <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
  <!-- <a
  nz-button
  nzType="link" 
  nz-popover
  nzPopoverTitle="Title"
  [(nzPopoverVisible)]="visible"
  nzPopoverTrigger="click"
  [nzPopoverContent]="contentTemplate"
>
  Click me
</a>
  <ng-template #contentTemplate>
    <a (click)="clickMe()">Close</a>
  </ng-template> -->