<div class="pie-chart-container">
  <div class="pie-select">
    <nz-select
      class="select"
      [(ngModel)]="selectedValue"
      [compareWith]="compareFn"
      (ngModelChange)="selectionChange($event)"
    >
      <nz-option
        *ngFor="let option of optionList"
        [nzValue]="option"
        [nzLabel]="option.label"
      ></nz-option>
    </nz-select>
    <div class="pie-action-items">
      <span nz-icon nzType="download" nzTheme="outline" class="download-action-item" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"></span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="handleOperation('csv')">Download Csv</li>
          <li nz-menu-item (click)="handleOperation('xls')">Download Xls</li>
          <li nz-menu-item (click)="handleOperation('svg')">Download Svg</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 400px; display: block"
    #chartInstance
  ></highcharts-chart>
</div>
