<div>
  <nz-table
    #basicTable
    [nzData]="todoData"
    [nzShowPagination]="false"
    [nzLoading]="loading"
  >
    <thead>
      <tr>
        <th>Task</th>
        <th>Created On</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of todoData"
        [ngClass]="data.completed ? 'completed-task' : ''"
      >
        <td>{{ data.description }}</td>
        <td>{{ data.createdOn | date }}</td>
        <td>
          <span
            nz-icon
            nzType="edit"
            nzTheme="outline"
            class="btn edit-btn"
            (click)="modalHandler(data)"
          ></span>
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            class="btn delete-btn"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this task?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteHandler(data)"
          ></span>
          <span
            nz-icon
            nzType="check-square"
            nzTheme="outline"
            class="btn check-btn"
            (click)="checkhandler(data)"
            [ngStyle]="{ color: data.completed ? 'green' : 'inherit' }"
            nz-tooltip
            [nzTooltipTitle]="tooltipTitle(data)"
            nzTooltipPlacement="bottom"
          ></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
