.wrapper {
    padding: 8rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    .add-todo-form {
        width: 100%;
        form {
            width: 100%;
            .ant-form-item {
                width: 90%;
                padding: 0.5rem;
            }
        }
    }
    button {
        margin: 0.5rem;
    }
}

@media screen and (max-width: '1024px') {
    .wrapper{
        padding: 4rem 10rem;
    }    
}

@media screen and (max-width: '768px') {
    .wrapper{
        padding: 2rem 4rem;
    }    
}