<div class="wrapper">
  <h1 nz-typography [ngClass]="'header'">To-Do App</h1>
  <!-- ADD TODO ITEM -->
  <div [ngClass]="'add-todo-form'">
    <form
      nz-form
      [nzLayout]="'inline'"
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your task!">
          <input
            type="text"
            nz-input
            formControlName="description"
            placeholder="Your Task here.."
          />
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        Add Task
      </button>
    </form>
  </div>
  <!-- TABLE LIST -->
  <app-todolist
    [todoData]="listOfData"
    (openModal)="showModal($event)"
  ></app-todolist>

<h1>Angular Table</h1>
<app-table></app-table>
</div>
<!-- MODAL -->
<app-modal
  [isModalVisible]="isVisible"
  [currentTask]="currentSelectedTask"
  (closeModal)="handleCancel($event)"
></app-modal>

