@import "../../mixins.scss";
.nav-bar {
  position: relative;
  display: flex;
  height: 70px;
  padding: 10px 40px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  .nav-links {
    position: relative;
    max-width: calc(100% - 100px);
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    .nav-link {
      color: black;
      &:hover {
        color: #1890ff;
      }
    }
    .active-nav {
      color: #1890ff;
    }
    @include sm {
      max-width: 100%;
    }
  }

  @include sm {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    width: 50%;
    padding: 10px 0;
    align-items: flex-start;
    left: -1000px;
  }
}

.hamburger-menu {
  display: none;
  @include sm {
    display: flex;
    font-size: 25px;
    margin-left: 10px;
    padding-top: 10px;
    cursor: pointer;
  }
}
.close-menu {
  display: none;
  @include sm {
    display: flex;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 20px;
    cursor: pointer;
  }
}
.wrapper {
  padding: 50px;
}

button {
  @include sm {
    margin-left: 20px;
  }
}

.mobile {
  @include sm {
    left: 0;
    transition: all 0.3s ease;
    height: 100%;
  }
}
