<!-- NAVIGATION TABS -->
<div
  [ngClass]="isMobileMenu ? 'nav-bar mobile' : 'nav-bar'"
  *ngIf="!currentRoute"
>
  <div class="nav-links">
    <nz-tabset nzLinkRouter [nzTabPosition]="position">
      <nz-tab>
        <a
          *nzTabLink
          nz-tab-link
          [routerLink]="['/dashboard']"
          routerLinkActive="active-nav"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Todo App
        </a>
      </nz-tab>
      <nz-tab>
        <a
          *nzTabLink
          nz-tab-link
          [routerLink]="['/dashboard/ang-tables']"
          routerLinkActive="active-nav"
        >
          Datatables
        </a>
      </nz-tab>
      <nz-tab>
        <a
          *nzTabLink
          nz-tab-link
          [routerLink]="['/dashboard/charts']"
          routerLinkActive="active-nav"
        >
          Charts
        </a>
      </nz-tab>
    </nz-tabset>
  </div>
  <button nz-button nzType="primary" (click)="handleSignOut()">Sign Out</button>
  <span
    nz-icon
    nzType="close-circle"
    nzTheme="outline"
    class="close-menu"
    (click)="handleClick()"
  ></span>
</div>
<span
  nz-icon
  nzType="menu"
  nzTheme="outline"
  class="hamburger-menu"
  (click)="handleClick()"
></span>
<!-- ROUTES -->
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
