<div class="auth-page" *ngIf="!isSuccess">
  <div class="auth-image">
    <img src="assets/images/bg-image.avif" alt="auth-image" />
  </div>
  <div class="auth-form-container">
    <h1>Reset Your Password</h1>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        Send Password Reset link
      </button>
    </form>
  </div>
</div>

<div *ngIf="isSuccess">
  <nz-result
    nzStatus="success"
    nzTitle="Successfully sent reset link on your email!"
    nzSubTitle="It usually takes 1-5 minutes, please wait if not recived."
  >
    <div nz-result-extra>
      <button nz-button nzType="primary" (click)="handleNaviagtionHome()">
        Go Back
      </button>
    </div>
  </nz-result>
</div>
