<div class="chart-container">
  <div class="chart-action-items-container">
    <nz-select
      class="select-options"
      [(ngModel)]="selectedValue"
      [compareWith]="compareFn"
      (ngModelChange)="selectionChange($event)"
    >
      <nz-option
        *ngFor="let option of optionList"
        [nzValue]="option"
        [nzLabel]="option.label"
      ></nz-option>
    </nz-select>
    <app-download-btn
      [chartInstance]="chartInstance"
      [options]="chartOptions"
    ></app-download-btn>
  </div>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    (chartInstance)="instanceHandler($event)"
    style="width: 100%; height: 400px; display: block"
  ></highcharts-chart>
</div>
