/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./mixins.scss";
body {
  font-family: "Poppins", "Times New Roman", Times, serif;
}

.Image-tab {
  height: 100px;
  width: 100px;
}

div.dataTables_wrapper div.dt-row {
  position: static !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none !important;
}

//AUTH PAGES
.auth-page {
  position: relative;
  height: 100%;
  .auth-image {
    height: 100%;
    filter: blur(3px);
    img {
      height: 100%;
      width: 100%;
    }
  }

  .auth-form-container {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 100px;
    opacity: 0.8;
    width: 500px;
    height: 400px;
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .ant-input {
      height: 35px;
    }

    @include md {
      right: 50px;
      width: 300px;
    }
    @include xs {
      right: 0;
      width: 100%;
    }
  }
}

// CHARTS

// .select-options{
//   min-width: 10%;
// }

.chart-container {
  // max-width: 600px;
  .chart-action-items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}